<div class="footer-outer">
    <div class="top-footer-div">
        <div class="heading-para">
            <div>
                Work With Us
            </div>
            <div class="para-1">
                We are always on the lookout for extraordinarily talented individuals who share our love of technology and games.
            </div>
        </div>
        <div class="join-us">
            <div class="join-button">
                Join Us ---
            </div>
        </div>
    </div>
    <div class="bottom-footer-div">
        <div class="copyright">
            <div>
                <img src='./assets/Images/Vector@2x.svg' style="height: 60.93px; width: 179.83px;">
            </div>
            <div class="cpyrgt">
                Copyright © 2020. Powered by Plaxonic
            </div>
        </div>
        <div class="links">
            <div class="colour">
                FB  <span style="padding-left: 45px; padding-right: 45px"> | </span> 
            </div>
           
            <div class="colour">
                TT <span style="padding-left: 45px; padding-right: 45px"> | </span> 
            </div>
            
            <div class="colour">
                YT <span style="padding-left: 45px; padding-right: 45px"> | </span>
            </div>
            <div class="colour">
                IG
            </div>
        </div>
        <div class="more">
            <div class="colour">
                Investors
            </div>
            <div class="colour" style="padding-left: 60px;">
                Support
            </div>
            <div class="colour" style="padding-left: 70px;">
                News
            </div>
        </div>
    </div>
</div>