<div class="outer">
    <div class="epic-game">
        <div class="epic-texts">
            <div class="heading">
                Epic Games
            </div>
            <div class="epic-para">
                SubZi’s mission is to make the best mobile games.
            </div>
            <div class="google-buttons">
                <div class="apple-store">
                    <span class="padding-class">

                        Apple Store ----

                    </span>
                </div> 
                <div class="google-play">
                    <span class="padding-class">
                        Google Play ----
                </span> 
                       
                </div>
            </div>
        </div>
        <div>
            <div style="position: absolute;  left: 1058px;top: 179px;">
                <img src='./assets/Images/image_3shape_circle.svg' style="height: 132px; width: 132px;">
                
            </div>
            <div style="position: relative;">
                
                <img src='./assets/Images/P6YSHD1_1mobil.svg' style="height: 686px; width: 1012px;">
            </div>
        </div>
    </div>
    <div class="sky-not-a-limit">
        <div class="outside-scene">
            <img src='./assets/Images/outside_scence.png' style="height: 650px; width: 950px;">
        </div>
        <div class="sky-texts">
            <div class="subzi-heading">
                SubZi Games
            </div>
            <div class="sky-heading-1">
                The Sky Is Not The Limit
            </div>
            <div class="sky-para">
                Quam non sed dictumst et quisque hendrerit nunc habitant euismod. Ut adipiscing sociis urna pharetra. Tortor arcu rutrum rhoncus vitae. Convallis faucibus fringilla tellus viverra.
            </div>
            <div class="check-games">
                Check All Games
            </div>
        </div>
    </div>
    <div class="rev-of-gamers">
        <div class="revolution-texts">
            <div class="about">
                ABOUT SUBZI
            </div>
            <div class="revolution-heading">
                Revolution Of Gamers
            </div>
            <div class="revolution-para-1">
                Lorem ipsum dolor sit amet, consectetur adi piscing elit. A pellentesque quisque imperdiet netus nisi dui.
            </div>
            <div class="revolution-para-2">
                Orci mattis aliquam aliquet bibendum. Viverra felis risus enim, nunc. Proin turpis turpis tortor, nullam ullamcorper eget vitae, pretium adipiscing. At sit egestas iaculis at. Quam nibh ultrices mi faucibus donec sagittis. Fermentum nec non laoreet aliquet. Arcu adipiscing vulputate diam molestie et ipsum rutrum facilisis morbi. Parturient porttitor facilisi commodo in neque platea dolor arcu.
            </div>
            <div class="revolution-para-3">
                Vel quis pulvinar sed elementum morbi vitae. Sed dictum cras praesent quisque netus eu. Nullam ultricies auctor tempus pulvinar senectus urna consequat, porta urna. In mauris nec imperdiet feugiat. Porttitor nec varius auctor mi porta tincidunt habitasse etiam.
            </div>
        </div>
        <div class="desktop-pic">
            <img src='./assets/Images/image_desktop.svg' style="height: 680px; width: 620px;">
            
        </div>
    </div>
</div>